# Log and result files
results/
logs/

# Local data (tests/data/ is committed)
/data/
# Environment and temporary files
*.Rproj.user
.Rhistory
__pycache__/
*venv/
.nextflow*
work/
.DS_Store
testing/
testing*
*.pyc
null/
.lineage/
