export(count_sites)
export(check_fai)
export(read_bed_regions)
export(write_counts)
export(merge_counts)
export(merge_count_tables)
export(background_qc)
export(COUNT_COLUMNS)
import(data.table)
importFrom(GenomicRanges, GRanges)
importFrom(IRanges, IRanges)
importFrom(Rsamtools, FaFile, BamFile, ScanBamParam, PileupParam, pileup)
importFrom(Biostrings, getSeq)
importFrom(GenomeInfoDb, seqlengths)
importFrom(Biostrings, complement, reverseComplement)
export(check_calling_input)
export(subset_rows)
export(site_summary)
export(classify_sites)
export(treatment_test)
export(factor_test)
export(site_sets)
export(site_quartiles)
export(default_colors)
export(save_plot)
export(plot_treatment)
export(plot_factor)
export(plot_quartiles)
export(read_analyses)
export(read_counts)
export(run_analysis)
export(run_site_sets)
importFrom(rlang, .data, ":=")
