export(count_sites)
export(read_bed_regions)
export(write_counts)
export(merge_counts)
export(merge_count_tables)
export(background_qc)
export(COUNT_COLUMNS)
import(data.table)
importFrom(GenomicRanges, GRanges)
importFrom(IRanges, IRanges)
importFrom(Rsamtools, FaFile, BamFile, ScanBamParam, PileupParam, pileup)
importFrom(Biostrings, getSeq)
importFrom(GenomeInfoDb, seqlengths)
importFrom(Biostrings, complement, reverseComplement)
